In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('movies_eda.csv')

In [4]:
df.head()

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,release_year,return
0,Toy Story Collection,30000000.0,"['Animation', 'Comedy', 'Family']",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,Pixar Animation Studios,United States of America,1995-10-30,373554033.0,81.0,English,Released,NaN,Toy Story,7.7,5415.0,1995,12.451801
1,NaN,65000000.0,"['Adventure', 'Fantasy', 'Family']",8844,en,When siblings Judy and Peter discover an encha...,17.015539,TriStar Pictures,United States of America,1995-12-15,262797249.0,104.0,English,Released,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0,1995,4.043035
2,Grumpy Old Men Collection,0.0,"['Romance', 'Comedy']",15602,en,A family wedding reignites the ancient feud be...,11.712900,Warner Bros.,United States of America,1995-12-22,0.0,101.0,English,Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,92.0,1995,0.000000
3,NaN,16000000.0,"['Comedy', 'Drama', 'Romance']",31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,Twentieth Century Fox Film Corporation,United States of America,1995-12-22,81452156.0,127.0,English,Released,Friends are the people who let you be yourself...,Waiting to Exhale,6.1,34.0,1995,5.090760
4,Father of the Bride Collection,0.0,['Comedy'],11862,en,Just when George Banks has recovered from his ...,8.387519,Sandollar Productions,United States of America,1995-02-10,76578911.0,106.0,English,Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7,173.0,1995,0.000000

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45376 entries, 0 to 45375
Data columns (total 20 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   belongs_to_collection  4488 non-null   object
 1   budget                 45376 non-null  float64
 2   genres                 45376 non-null  object
 3   id                     45376 non-null  int64
 4   original_language      45365 non-null  object
 5   overview               44435 non-null  object
 6   popularity             45376 non-null  float64
 7   production_companies   33580 non-null  object
 8   production_countries   39165 non-null  object
 9   release_date           45376 non-null  object
 10  revenue                45376 non-null  float64
 11  runtime                45130 non-null  float64
 12  spoken_languages       41387 non-null  object
 13  status                 45296 non-null  object
 14  tagline                20398 non-null  object
 15  title                  45376 non-null  object
 16  vote_average           45376 non-null  float64
 17  vote_count             45376 non-null  float64
 18  release_year           45376 non-null  int64
 19  return                 45376 non-null  float64
dtypes: float64(7), int64(2), object(11)
memory usage: 6.9+ MB

In [12]:
df.describe()

,budget,id,popularity,revenue,runtime,vote_average,vote_count,release_year,return
count,4.537600e+04,45376.000000,45376.000000,4.537600e+04,45130.000000,45376.000000,45376.000000,45376.000000,4.537600e+04
mean,4.232604e+06,108027.103094,2.926458,1.123010e+07,94.181675,5.624070,110.096439,1991.881193,6.600428e+02
std,1.743986e+07,112168.377996,6.009672,6.438996e+07,38.341059,1.915423,491.742894,24.055360,7.469329e+04
min,0.000000e+00,2.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,1874.000000,0.000000e+00
25%,0.000000e+00,26385.750000,0.388840,0.000000e+00,85.000000,5.000000,3.000000,1978.000000,0.000000e+00
50%,0.000000e+00,59857.500000,1.130454,0.000000e+00,95.000000,6.000000,10.000000,2001.000000,0.000000e+00
75%,0.000000e+00,156533.500000,3.691695,0.000000e+00,107.000000,6.800000,34.000000,2010.000000,0.000000e+00
max,3.800000e+08,469172.000000,547.488298,2.787965e+09,1256.000000,10.000000,14075.000000,2020.000000,1.239638e+07

# **PRIMERO ANALIZAREMOS LOS MESES Y DIAS DONDE SE ESTRENARON LAS PELICULAS**

In [16]:
# PARA ESO USAREMOS LA COLUMNA RELEASE_DATE
# Diccionario de nombres de meses 
meses_espanol = {
    1: 'enero',
    2: 'febrero',
    3: 'marzo',
    4: 'abril',
    5: 'mayo',
    6: 'junio',
    7: 'julio',
    8: 'agosto',
    9: 'septiembre',
    10: 'octubre',
    11: 'noviembre',
    12: 'diciembre'
}
# Convertir la columna "release_date" a formato de fecha
df['release_date'] = pd.to_datetime(df['release_date'])

# Extraer el mes y crear una nueva columna "meses"
df['meses'] = df['release_date'].dt.month

# Contar la cantidad de películas por mes
movies_por_mes = df['meses'].value_counts().sort_index()

# Ordenar los resultados por mes 
movies_por_mes = movies_por_mes.rename(index=meses_espanol)

movies_por_mes

meses
enero         5912
febrero       3032
marzo         3553
abril         3453
mayo          3339
junio         3153
julio         2640
agosto        3394
septiembre    4838
octubre       4615
noviembre     3661
diciembre     3786
Name: count, dtype: int64

### Hay podemos ver que el mes donde mas peliculas se estrenaron fue en enero

In [22]:
# Ahora haremos uno para los dias
# diccionario de dias 
meses_espanol = {
    0: 'Lunes',
    1: 'Martes',
    2: 'Miercoles',
    3: 'Jueves',
    4: 'Viernes',
    5: 'Sabado',
    6: 'Domingo'
}
# Convertir la columna "release_date" a formato de fecha
df['release_date'] = pd.to_datetime(df['release_date'])

# Extraer el dia y crear una nueva columna "DIAS"
df['DIAS'] = df['release_date'].dt.dayofweek

# Contar la cantidad de películas por dias
movies_por_dia = df['DIAS'].value_counts().sort_index()

# Ordenar los resultados por dia
movies_por_dia = movies_por_dia.rename(index=meses_espanol)

movies_por_dia

DIAS
Lunes         3503
Martes        4641
Miercoles     7035
Jueves        7525
Viernes      13908
Sabado        5151
Domingo       3613
Name: count, dtype: int64

### PODEMOS APRECIAR  QUE EL DIA QUE MAS PELICULAS SE VIERON FUE EL VIERNES

# **AHORA ANALIZAREMOS LAS PELICULAS MAS VOTADAS Y CON MAYOR POPULARIDAD**

In [28]:
# Ahora usaremos las columnas vote_count , vote_average y la de popularity

# primero vamos con la de vote_count
vote_counts=df['vote_count']
a = vote_counts.quantile(0.95)
a

434.0

In [29]:
# segundo vamos con vote_average
vote_averages = df['vote_average']
b = vote_averages.mean()
b

5.624069992947814

In [36]:
# con esto separamos las peliculas que seran parte de nuestra lista para el sistema de recomendaciones
calificadas = df[(df['vote_count'] >= a) & (df['vote_count'].notnull()) & (df['vote_average'].notnull())][['title', 'release_year', 'vote_count', 'vote_average', 'popularity', 'overview']]

calificadas.shape

(2274, 6)

In [37]:
calificadas.head()

,title,release_year,vote_count,vote_average,popularity,overview
0,Toy Story,1995,5415.0,7.7,21.946943,"Led by Woody, Andy's toys live happily in his ..."
1,Jumanji,1995,2413.0,6.9,17.015539,When siblings Judy and Peter discover an encha...
5,Heat,1995,1886.0,7.7,17.924927,"Obsessive master thief, Neil McCauley leads a ..."
9,GoldenEye,1995,1194.0,6.6,14.686036,James Bond must unmask the mysterious head of ...
15,Casino,1995,1343.0,7.8,10.137389,The life of the gambling paradise – Las Vegas ...

In [38]:
calificadas.to_csv('calificadas.csv',index=False)

### Gracias a este análisis basado en votos y popularidad podemos determinar que peliculas formaran parte del sistema de recomendaciones. Ademas usaremos la columna overview donde nos da un pequeño resumen o descripcion general de la pelicula que mediante tecnicas de procesamiento de texto, indetificaremos la similitud entre la sinopsis de las peliculas.